.card-title{
    font-size: 36px;
}

.card-border{
    border: solid 3px black;
    border-radius: var(--bs-border-radius);
}

.card-dark{
    background-color: var(--black);
    color: var(--white);
}

.card-light{
    background-color: var(--white);
    color: var(--black-2);
}