.like-box{
    background-color: lightgreen;
    border: 3px black solid;
}

.dislike-box{
    background-color: #FF3E3E;
    border: 3px black solid;
}

.queue-box{
    background-color: grey;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.queue-box::-webkit-scrollbar{
    display: none;
}