.flex{
    display: flex;
    flex-wrap: wrap;
}

.green{
    background-color: lightgreen;
}

.grey{
    background-color:lightgray;
}

.red{
    background-color: red;
}

.border{
    border: solid black 3px !important;
}

.no-pad{
    padding: 0px;
}