.anime-list{
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    overflow-x: visible;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
}